https://ai-schlumberger-eag-consulting.p.datascience.cloud.slb-ds.com/public/packages/dataiku-internal-client.tar.gz
dataiku-api-client
pandas
tensorflow
scikit-learn
streamlit-drawable-canvas==0.8.0
opencv-python-headless
matplotlib
plotly
